@font-face {
	font-family: "Brutal Type Black";
	src: url("/fonts/brutal_type_black/BrutalTypeBlack.eot");
	src: url("/fonts/brutal_type_black/BrutalTypeBlack.eot?#iefix") format("embedded-opentype"), url("/fonts/brutal_type_black/BrutalTypeBlack.woff") format("woff"), url("/fonts/brutal_type_black/BrutalTypeBlack.woff2") format("woff2"), url("/fonts/brutal_type_black/BrutalTypeBlack.ttf") format("truetype"), url("/fonts/brutal_type_black/BrutalTypeBlack.svg#Brutal Type Black") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
